{% extends "layout.html.twig" %}
{%  block title %}
	<title>The Funniest Stuffs</title>
{% endblock %}
{% block leftsidemenu %}

	{% include 'leftsidemenu.html.twig' with {'pictureCategories': pictureCategories,'gameCategories': gameCategories %}

{% endblock %}

{% block content %}
<section class="portfolio-full-width-grid">
	<div class="portfolio-filter-wrapper">
				<a href="#" title="All" data-category-slug="all" class="active">All</a>
				<a href="#" title="pictures" data-category-slug="pictures">Pictures</a>
				<a href="#" title="gifs" data-category-slug="gifs">Gifs</a>
				
				
			</div>
	<div id="grid" class="clearfix">

				{% for item in elements %}
					{% if item.type == 'p' %}
						<div class="thumb" data-project-categories="pictures">
							{% set filename = item.filename|split('.') %}
							<a href="/funnypictures/funnypicture/{{(item.filename|split('.'))[0]}}" title="{{item.title}}" data-caption="{{item.title}}">
								<img width="200px" height="200px" src="/data/pics/spictures/{{item.cover}}" alt="{{item.title}} funny pictures">
							</a>
						</div>
					{% else %}
						<div class="thumb" data-project-categories="gifs">
							{% set filename = item.filename|split('.') %}
							<a href="/funnygifs/funnygif/{{(item.filename|split('.'))[0]}}" title="{{item.title}}" data-caption="{{item.title}}">
								<img width="200px" height="200px" src="/data/pics/spictures/{{item.cover}}" alt="{{item.title}} funny pictures">
							</a>
						</div>
					{% endif %}
						
				{% endfor %}
				
				
	</div>
	{% include 'pagination/index.html.twig' with {'barepagination':barePagination, 'nbrPage':nbrPage} %}
</section>
{% endblock %}
